@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.task-container {
  display: flex;
  align-items: center;
}

.ant-checkbox-wrapper{
    margin-left: 8px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-left: 8px;
    margin: 5px;
}

.Add-task-input {
  width: 150px
}

.task-lists-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  margin: 20px;

}

.completed-tasks span {
  text-decoration: line-through !important;
}

.spinner-contailer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(150,150,150,0.6);
}

.ant-spin-spinning {
  left: 50%;
  top: 50%;
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
